
@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #308b56 16.62%, #397a83 85.61%);
}

.cabecalho {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content:space-around;
 padding: 24px;
}

.cabecalho-imagem {
    height: 72px;
    
}
.cabecalho-menu{
    display: flex;
    gap: 32px;
    font-family: 'Righteous', cursive;
    color:#e7ffe7;
    
}

.cabecalho-menu-itens{
    font-family: 'Righteous', cursive;
    color:#e7ffe7;
    font-weight: 400;
    font-size: 18px;
    
}

.conteudo{
    margin-bottom: 48px;
 border-top: 0.4px solid #FFF2E7;
}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font: weight 400;
    font-size: 64px;
    color: #f7ffe7;
}
.conteudo-principal-escrito-titulo-subtitulo{
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color:#e7f1ff ;
}
.conteudo-principal-escrito-botao{
background-color: #FFF2E7;
width: 180px;
height: 60px; 
border: none;
box-shadow: 4px 5px 4pxrgba(0,0,0, 0.25);
border-radius: 20px;
font-family: 'Righteous' , cursive;
font-weight: 400;
font-size: 20px;
color: #3b062a;
}

.conteudo-principal-escrito-botao:houver {
    background-color: rgba(196, 197, 236, 0.53);
   
}

.conteudo-principal-imagem{
    height: 430px;
}
.conteudo-escrito-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-escrito-secundario-titulo{
    border-top: 00.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous' , cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.conteudo-escrito-secundario-paragrafo{
    font-family: 'Righteous', cursive;
    font-weight: 300;
    font-size: 18px;
    color:#FFF2E7 ;
}
.rodape{
    padding: 80px;
    border-top: 0.4px solid #FFF2E7;
}
.rodape-imagem{
    height: 100px;
    display: block;
    margin: 0 auto;
}

rodape-imagem{
    height: 100px;
    display: block;
    margin: 0 auto;
}